#wb-sm{background:#646473 !important;}
#wb-bnr {
    background: #047177 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#176ca7),to(#035256)) !important;
    background: -webkit-linear-gradient(#047177 ,#035256) !important;
    background: linear-gradient(#047177,#035256) !important;
}
#wb-sm .menu>li>a.wb-navcurr, #wb-sm .sm.open li a.wb-navcurr, #wb-sm .sm.open li a:focus, #wb-sm .sm.open li a:hover, #wb-sm .sm.open li summary.wb-navcurr, #wb-sm .sm.open li summary:focus, #wb-sm .sm.open li summary:hover {
    background: #047177 !important;
    color: #fff;
}
#wb-sttl img, #wb-sttl object{height:inherit !important}
#wb-sttl a {
    display: initial !important;
}
#wb-sttl span {
    display: initial !important;
     vertical-align: baseline; 
}
.btn-primary {
    color: #fff;
    background-color: #047177 !important;
    border-color: #047177 !important;
}
.splash-appname{font-size:3em;color:#fff;}
.app-name{
    font-size: 1.6em;
    padding-top:5px;
    padding-left: 20px;
    background-color: #055959;
    min-height: 45px;
    max-width: 165px;
   margin-left:-5px;
}

    /** This creates the triangle on the logo   **/ 
.app-name:before{
       content: '';
    display: block;
    position: absolute;
    left: 165px;
    top: 0;
    width: 0;
    height: 0;
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
	
	border-left: 20px solid #055959;
    clear: both;     
}
.app-name-splash{
    font-size: 1.6em;
    padding-top:5px;
    padding-left: 20px;
    background-color: #055959;
    /*min-height: 45px;
    max-width: 165px;
  margin-left:-5px;*/ 
}

    /** This creates the triangle on the logo   **/ 
.app-name-splash:before{
       content: '';
    display: block;
    position: absolute;
    left: 165px;
    top: 0;
    width: 0;
    height: 0;
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
	
	border-left: 20px solid #055959;
    clear: both;     
}

.bold-gc{
    font-weight: 800;   
}
