#wb-sm{background:#646473 !important;}
#wb-bnr {
    background: #444 !important;
    background: -webkit-gradient(linear,left top,left bottom,from(#444),to(#000)) !important;
    background: -webkit-linear-gradient(#333,#000) !important;
    background: linear-gradient(#333,#000) !important;
}
#wb-sm .menu>li>a.wb-navcurr, #wb-sm .sm.open li a.wb-navcurr, #wb-sm .sm.open li a:focus, #wb-sm .sm.open li a:hover, #wb-sm .sm.open li summary.wb-navcurr, #wb-sm .sm.open li summary:focus, #wb-sm .sm.open li summary:hover {
    background: #333 !important;
    color: #fff;
}
#wb-sttl img, #wb-sttl object{height:inherit !important}
#wb-sttl a {
    display: initial !important;
}
#wb-sttl span {
    display: initial !important;
     vertical-align: baseline; 
}
.btn-primary {
    color: #fff;
    background-color: #333 !important;
    border-color: #000 !important;
}
.splash-appname{font-size:3em;color:#fff;}
.app-name{
    font-size: 1.6em;
    padding-top:5px;
    padding-left: 20px;
    background-color: #055959;
    min-height: 45px;
    max-width: 165px;
   margin-left:-5px;
}

    /** This creates the triangle on the logo   **/ 
.app-name:before{
       content: '';
    display: block;
    position: absolute;
    left: 165px;
    top: 0;
    width: 0;
    height: 0;
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
	
	border-left: 20px solid #055959;
    clear: both;     
}
.app-name-splash{
    font-size: 1.6em;
    padding-top:5px;
    padding-left: 20px;
    background-color: #055959;
    /*min-height: 45px;
    max-width: 165px;
  margin-left:-5px;*/ 
}

    /** This creates the triangle on the logo   **/ 
.app-name-splash:before{
       content: '';
    display: block;
    position: absolute;
    left: 165px;
    top: 0;
    width: 0;
    height: 0;
	border-top: 22.5px solid transparent;
	border-bottom: 22.5px solid transparent;
	
	border-left: 20px solid #055959;
    clear: both;     
}

.bold-gc{
    font-weight: 800;   
}
#mb-pnl.modal-content {
    background: #000;
}
#mb-pnl .lng-ofr, #mb-pnl .sm-pnl, #mb-pnl .srch-pnl {
    background: #333;
}
#mb-pnl .modal-header {
    border-bottom: 1px solid #000;}
.overlay-def .modal-header {
    background: #000;
}
.map-styling {
    position: relative;
    padding-bottom: 30%;
    padding-top: 50px;
    height: 0;
    overflow: hidden;
}
@media screen and (max-width: 991px){
	#wb-sttl img, #wb-sttl object{
		display:none;
	}
}
}